@{
    ViewBag.Title = "DoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<pre style="margin:50px; font-size:15px;font-family:'Times New Roman'">
<p style="text-align:center;font-weight:bold;font-size:30px">CHÍNH SÁCH ĐỔI / TRẢ / HOÀN TIỀN</p>

Chúng tôi luôn trân trọng sự tin tưởng và ủng hộ của khách hàng khi đặt mua sản phẩm tại waifuShop.com. Do đó chúng tôi luôn cố gắng hoàn thiện dịch vụ tốt nhất phục vụ mọi nhu cầu mua sắm của quý khách.

waifuShop.com chúng tôi luôn luôn cam kết tất cả các sản phẩm bán tại waifuShop.com 100% là những sản phẩm chất lượng và xuất xứ nguồn gốc rõ ràng, hợp pháp cũng như an toàn cho người tiêu dùng.

Để việc mua sắm của quý khách tại waifuShop.com là trải nghiệm dịch vụ thân thiện, chúng tôi hy vọng quý khách lúc nhận hàng kiểm tra kỹ lại:

- Số lượng.

- Tên sản phẩm và chất lượng sản phẩm.

- Thông tin sản phẩm, thông tin người nhận (Đối chiếu với thông tin trên phiếu giao hàng được bỏ trong hộp) trong lúc nhận hàng trước khi ký nhận và thanh toán tiền cho nhân viên giao nhận.

Tuy nhiên để quý khách yên tâm hơn trong việc mua sắm và trải nghiệm dịch vụ của waifuShop.com, chúng tôi xây dựng chính sách đổi/ trả/ hoàn tiền trên tinh thần bảo vệ quyền lợi người tiêu dùng nhằm
 cam kết với quý khách về chất lượng sản phẩm và dịch vụ của chúng tôi.

Khi quý khách hàng có hàng hóa mua tại waifuShop.com cần đổi/ trả, xin quý khách hàng liên hệ với chúng tôi qua hotline 1900-636467 hoặc truy cập waifuShop.com/doi-tra-hang để tìm hiểu thêm về chính sách đổi/trả:

Lưu ý: Các sản phẩm thuộc "Phiên chợ sách cũ" sẽ không được áp dụng chính sách đổi trả của waifuShop.com
2. Điều kiện đổi trả:

waifuShop.com hỗ trợ đổi/ trả sản phẩm cho quý khách nếu:

- Sản phẩm còn nguyên bao bì như hiện trạng ban đầu.

- Sản phầm còn đầy đủ phụ kiện, quà tặng khuyến mãi kèm theo.

- Hóa đơn GTGT ( nếu có)

**Lưu ý: Không áp dụng đổi / trả / hoàn tiền đối với mặt hàng Chăm Sóc Cá Nhân và các Đơn Hàng Sỉ.

3. Chính sách đổi trả

Tất cả các đơn hàng đổi trả cần được chụp hình và gửi email về info@waifuShop.com với tiêu đề “Đổi Trả Đơn Hàng #100xxx”:

- Chụp hình về tình trạng sản phẩm, nêu rõ lỗi kỹ thuật nếu có.

- Chụp hình về tình trạng bao bì, chú ý các điểm như:

+ Sách có được bọc màng co hay không?

+ Hộp có được chèn lót giấy vụn để bảo vệ khi vận chuyển hay không?

+ Hộp bị ướt …?
4. Cách thức chuyển sản phẩm đổi trả về waifuShop.com

- Khi yêu cầu đổi trả được giải quyết, quý khách vui lòng đóng gói sản phẩm như hiện trạng khi nhận hàng ban đầu (bao gồm sản phẩm, quà tặng, phụ kiện kèm theo sản phẩm,…nếu có).

+ Hóa đơn giá trị gia tăng của waifuShop.com

+ Phụ kiện đi kèm sản phẩm và quà tặng khuyến mãi kèm theo (nếu có)

- Lưu ý: Quý khách vui lòng chịu trách nhiệm về trạng thái nguyên vẹn của sản phẩm khi gửi về waifuShop.com. 

+ Sau khi nhận được sản phẩm quý khách gởi về, waifuShop.com sẽ phản hồi và cập nhật thông tin trên từng giai đoạn xử lý đến quý khách qua điện thoại / email .

 

Nếu cần hỗ trợ thêm quý khách có thể liên hệ trực tiếp qua hotline 1900636467 để được hỗ trợ nhanh chóng.
</pre>
<div style="margin-left:140px">
    @{
        Html.RenderAction("_Footer", "Home");
    }
</div>