
@{
    ViewBag.Title = "HeThong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="margin-left:40px">HỆ THỐNG TRUNG TÂM - NHÀ SÁCH</h3>
<table class="table" style="text-align:left; margin-left:40px" cellpadding="10px" border="1" cellspacing="0px">
    <thead>
        <tr style="text-align:center" class="bodytable">
            <th scope="col">Tên</th>
            <th scope="col" colspan="2" >Địa chỉ</th>
            <th scope="col">SĐT</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody style="border:medium;border-color:gainsboro">
        <tr>
            <th scope="row">NHÀ SÁCH - SIÊU THỊ BÌNH MINH</th>
            <td colspan="2" >	604 CMT8, Tx. Thủ Dầu Một, Tỉnh Bình Dương</tdcolspan="2">
            <td>(0650) 3.848.498</td>
            <td>nsbinhminh@waifuShop.com.vn</td>
        </tr>
        <tr>
            <th scope="row">NHÀ SÁCH - SIÊU THỊ LÝ THÁI TỔ</th>
            <td colspan="2">59-61 Xóm Củi, Q.8, TP.HCM</td>
            <td>(0650) 3.848.498</td>
            <td>nslythaito@waifuShop.com.vn</td>
        </tr>
        <tr>
            <th scope="row">NHÀ SÁCH - SIÊU THỊ THUẬN AN</th>
            <td colspan="2">87 Phan Đình Phùng, Thuận An, Tỉnh Bình Dương</td>
            <td>(0650) 3.848.498</td>
            <td>nsthuanan@waifuShop.com.vn</td>
        </tr>
        <tr>
            <th scope="row">NHÀ SÁCH - SIÊU THỊ ĐỒNG NAI</th>
            <td colspan="2">Quốc Lộ 1, P. Tân Biên, TP. Biên Hòa, Tỉnh Đồng Nai</td>
            <td>(0650) 3.848.498</td>
            <td>nsdongnai@waifuShop.com.vn</td>
        </tr>
        <tr>
            <th scope="row">NHÀ SÁCH BÌNH DƯƠNG</th>
            <td colspan="2">25 Trần Hưng Đạo, P. Phú Cường, TP. Thủ Dầu Một, Tỉnh Bình Dương.</td>
            <td>(0650) 3.848.498</td>
            <td>Đang cập nhật ...</td>
        </tr>
        <tr>
            <th scope="row">NHÀ SÁCH CÂY GÕ</th>
            <td colspan="2">146 Minh Phụng, Q.6, TP.HCM</td>
            <td>(0650) 3.848.498</td>
            <td>nscaygo@waifuShop.com.vn</td>
        </tr>
        <tr>
            <th scope="row">NHÀ SÁCH CỦ CHI</th>
            <td colspan="2">	Khu phố 5, Quốc Lộ 22, thị trấn Củ Chi, TP.HCM</td>
            <td>(0650) 3.848.498</td>
            <td>	nscuchi@waifuShop.com.vn</td>
        </tr>
        <tr>
            <th scope="row">NHÀ SÁCH DĨ AN - BÌNH DƯƠNG</th>
            <td colspan="2">	Lầu 1 Chợ B-Chợ Dĩ An, TX. Dĩ An, Tỉnh Bình Dương.</td>
            <td>(0650) 3.848.498</td>
            <td>	nsangiang@waifuShop.com.vn</td>
        <tr>
            <th scope="row">NHÀ SÁCH DẦU TIẾNG</th>
            <td colspan="2">25/4 Tự Do, Thị Trấn Dầu Tiếng, Huyện Dầu Tiếng, Tỉnh Bình Dương.</td>
            <td>(0650) 3.848.498</td>
            <td>nsbienhoa@waifuShop.com.vn</td>
        <tr>
            <th scope="row">NHÀ SÁCH WAIFUSHOP AN GIANG</th>
            <td colspan="2">Siêu Thị Co.op Mart Long Xuyên (Lầu 3) - 12 Nguyễn Huệ A, P. Mỹ Long, TP. Long Xuyên, Tỉnh An Giang</td>
            <td>(0650) 3.848.498</td>
            <td>	nsbinhphuoc@waifuShop.com.vn</td>
        </tr>
    </tbody>
</table>
<div style="margin-left:140px">
    @{
        Html.RenderAction("_Footer", "Home");
    }
</div>

