
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<pre style="margin:50px; font-size:15px;font-family:'Times New Roman'">
    <b style="color:red">I. PHƯƠNG THỨC THANH TOÁN</b>

    <b>A.  THANH TOÁN BẰNG VÍ ZALOPAY; THẺ QUỐC TẾ VISA, MASTER, JBC; ATM NỘI ĐỊA/INTERNET BANKING THÔNG QUA ZALOPAY</b>

    <i>BƯỚC 1: Chọn phương thức Thanh toán bằng thẻ ATM nội địa/ Internet Banking/ Visa/Master/JCB/ ZaloPay</i>

<img src="~/wwwroot/images/ThanhToan/anh1.png" alt="Alternate Text" />

<i>BƯỚC 2: Sau khi thực hiện Xác nhận đơn hàng bạn sẽ được chuyển tự động đến trang thanh toán của ZaloPay.</i>
<img src="~/wwwroot/images/ThanhToan/anh2.png" alt="Alternate Text" />


<i>BƯỚC 3: Chọn 01 trong 03 loại thẻ để tiến hành thanh toán như sau:</i>

Thanh toán bằng Ví ZaloPay:
Bạn có thể tải và đăng ký tài khoản ZaloPay với tài khoản Zalo tại đây để thực hiện thanh toán.

<img src="~/wwwroot/images/ThanhToan/anh3.png" alt="Alternate Text" />
Mở ứng dụng ZaloPay trên điện thoại để quét mã QR để thực hiện thanh toán theo hướng dẫn

<img src="~/wwwroot/images/ThanhToan/anh4.png" alt="Alternate Text" />
<img src="~/wwwroot/images/ThanhToan/anh5.png" alt="Alternate Text" width="30%"/><img src="~/wwwroot/images/ThanhToan/anh6.png" alt="Alternate Text" width="30%" /><img src="~/wwwroot/images/ThanhToan/anh7.png" alt="Alternate Text" width="30%" />




 Scan mã QR hiển thị trên website để thực hiện thanh toán.


Chọn Xác Nhận Thanh Toán


Thanh toán thành công
Thanh toán bằng Thẻ VISA, Master, JCB
 <img src="~/wwwroot/images/ThanhToan/anh8.png" alt="Alternate Text" />
 Điền thông tin theo hướng dẫn :

Số thẻ
Tên chủ thẻ
Ngày hết hạn
Mã CVV/CVC2

 <img src="~/wwwroot/images/ThanhToan/anh9.png" alt="Alternate Text" />
Chọn ô Thanh Toán để hoàn tất việc thanh toán.

 <img src="~/wwwroot/images/ThanhToan/anh10.jpg" alt="Alternate Text" />

 

Thanh toán bằng Thẻ ATM nội địa 

 <img src="~/wwwroot/images/ThanhToan/anh11.png" alt="Alternate Text" />
 Điền thông tin theo hướng dẫn :
Số thẻ
Tên chủ thẻ
Ngày hết hạn

 <img src="~/wwwroot/images/ThanhToan/anh12.png" alt="Alternate Text" />
Chọn ô Thanh Toán để hoàn tất việc thanh toán.

 <img src="~/wwwroot/images/ThanhToan/anh13.jpg" alt="Alternate Text" />
 

 <i>B. THANH TOÁN CHUYỂN KHOẢN QUA NGÂN HÀNG.</i>





Sau khi hoàn tất đặt hàng tại bước xác nhận đơn hàng, bạn vui lòng chuyển tiền vào tài khoản của chúng tôi theo thông tin sau:


Ngân hàng: Vietinbank - CN1 Thành phố Hồ Chí Minh
Tên tài khoản: Công ty CP Phát Hành Sách TPHCM - FAHASA
Số tài khoản: 112000005263


Chú ý:

Khi chuyển tiền, vui lòng ghi rõ Mã số đơn hàng mà bạn thanh toán vào phần ghi chú của lệnh chuyển khoản. Sau đó email cho chúng tôi theo địa chỉ accounting@fahasa.com để thông báo việc chuyển tiền và số tài khoản của bạn 
để tiện trong việc kiểm tra đồng thời tiến hành giao hàng sớm cho bạn.
Hoặc bạn có thể điện thoại cho chúng tôi theo số (08)3838 8832 nếu cần sự hổ trợ
Bạn vui lòng thanh toán phí chuyển khoản
 <b>C. THANH TOÁN BẰNG TIỀN MẶT KHI NHẬN HÀNG (COD)</b>





 <i>1.Đối với TP.HCM ( ngoại trừ: Bình Chánh, Hóc Môn, Củ Chi, Cần Giờ )</i>

- Nhân viên giao hàng sẽ liên lạc trước với bạn để thông báo giao hàng.Trường hợp bạn đi vắng vui lòng ủy thác cho người khác thanh toánvà nhận thay. Bạn vui lòng ký nhận hàng và thanh toán tiền theo giá trị ghi trên phiếu 
giao hàng và hóa đơn VAT đính kèm.Bạn không phải trả thêm một khoản phí nào khác

 <i>2. Đối với các Huyện Bình Chánh, Hóc Môn, Củ Chi, Cần Giờ và các tỉnh thành khác với điều kiện địa chỉ thanh toán cũng là địa chỉ giao hàng:</i>

- Nhân viên bưu điện địa phương sẽ đến địa chỉ bạn đăng ký để thu tiền và giao hàng.Trường hợp bạn đi vắng vui lòng ủy thác cho người khác thanh toán và nhận hàng thay.Trường hợp không có người nhận, bưu điện sẽ để lại lời 
nhắn mời bạn đến bưu điện để nhận hàng.


 <b style="color:red">
     II. HƯỚNG DẪN ĐĂNG KÝ THÔNG TIN XUẤT HÓA ĐƠN</b>

 <b>A. Hướng dẫn đăng ký thông tin xuất hóa đơn:</b>

     Khi thực hiện các thao tác đặt hàng, nếu Quý khách có nhu cầu xuất hoá đơn Giá trị gia tăng cho đơn hàng, vui lòng điền thông tin tại Thông tin khác và chọn ô Xuất hóa đơn GTGT (ảnh dưới), hệ thống sẽ xuất hóa đơn theo
     thông tin Quý khách đã nhập.
     <img src="~/wwwroot/images/ThanhToan/anh14.png" alt="Alternate Text" />
     .
     <img src="~/wwwroot/images/ThanhToan/anh15.png" alt="Alternate Text" />
     Từ ngày 01/11/2020, Hóa đơn Giá trị gia tăng do Công ty Fahasa cung cấp sẽ được xuất dưới dạng Hóa đơn Điện tử theo đúng nội dung bán hàng và gửi đến Quý khách ngay sau khi đơn hàng được đóng gói thành công và giao đến
     Quý khách. Công ty Fahasa không giải quyết việc xuất lại hóa đơn cho các trường hợp Quý khách không đăng ký thông tin.

     Có 2 hình thức nhận hóa đơn điện tử:

     1. Nhận qua email đã khai báo trong phần Thông tin khác

     2. Link hóa đơn điện tử và mã tra cứu hiển thị trong bill thông tin đơn hàng (đính kèm trong hộp hàng)

     <b>B. Thông tin chung về hóa đơn điện tử (HĐĐT):</b>

     1. Hóa đơn điện tử là gì?

     Hoá đơn điện tử là 1 trong 3 hình thức Hóa đơn. Thay vì Hóa đơn tạo lập trên giấy, HĐĐT được tạo lập trên thiết bị điện tử theo đúng quy định của Bộ Tài Chính và Cơ Quan Thuế (dựa trên nghị định số 51/2010/NĐCP-ngày
     14/05/2010 của Chính Phủ quy định về hóa đơn bán hàng, cung ứng dịch vụ).

     2. HĐĐT có giá trị pháp lý như thế nào?

     Hóa đơn được phát hành sẽ có giá trị về mặt pháp lý như hóa đơn giấy và được Bộ Tài Chính cũng như Tổng Cục Thuế chấp nhận đồng thời đáp ứng đầy đủ luật giao dịch điện tử nên có thể thực hiện báo cáo thuế bình thường.

     3. Quyết định sử dụng hóa đơn điện tử và Thông báo phát hành hóa đơn điện tử của Công ty Fahasa

     Tệp 1 Tệp 2 Tệp 3
</pre>
<div style="margin-left:140px">
    @{
        Html.RenderAction("_Footer", "Home");
    }
</div>

